@use "../../variables" as x;

.payment-card {
  width: 75%;
  height: 7rem;
  margin: 0 auto;
  background-color: x.$cinestar-gray-color2;
  @include x.center-content();
  column-gap: 1.5rem;
  border-radius: 0.2rem;
  transition: all ease-in-out 0.3s;

  &__img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
  }
}

.payment-card:hover {
  box-shadow: 1px 1px 5px 3px #888;
}

@media screen and (max-width: 1000px) {
  .payment-card {
    height: 5rem;
    column-gap: 1rem;

    &__img {
      width: 4rem;
      height: 4rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .payment-card {
    height: 3rem;
    column-gap: 0.5rem;

    &__img {
      width: 2.3rem;
      height: 2.3rem;
    }
  }
}
