@use "../../variables" as x;

.movie-detail-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__back-button {
    width: 2.3rem;
    margin: 3rem 0 0 5%;
    background-color: x.$cinestar-primary-color;
    border: none;
  }

  &__headline-container {
    padding-left: 15%;
    display: flex;
    align-items: center;
    column-gap: 5rem;
    color: x.$cinestar-gray-color;
  }

  &__headline {
    font-size: 1.7rem;
    font-family: x.$cinestar-font-art;
  }

  &__category,
  &__hall {
    padding: 0.1rem 0.3rem;
    font-size: 15px;
    border: 1px solid x.$cinestar-gray-color2;
    border-radius: 0.2rem;
  }

  &__main-infos {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
  }

  &__main-slider {
    width: 50%;
    margin: 5rem auto;
    padding: 13rem 0;
    @include x.center-content();
    column-gap: 17rem;
  }

  &__canvas {
    @include x.center-content();
  }

  &__img {
    position: absolute;
    width: 25rem;
    height: 35rem;
    object-fit: cover;
  }

  &__prev-button,
  &__next-button {
    width: 2.7rem;
    height: 2.5rem;
    @include x.center-content();
    border-radius: 0.2rem;
  }

  &__prev-icon,
  &__next-icon {
    width: 3rem;
  }

  .active-img {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .inactive-img {
    opacity: 0;
  }

  &__infos {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  &__text {
    padding: 1.5rem 10rem 0 3rem;
    color: x.$cinestar-gray-color;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  &__buy-ticket-button {
    width: 13rem;
    height: 2.7rem;
    margin: 0 3rem;
    font-size: 1.1rem;
    @include x.center-content();
    column-gap: 0.5rem;
    border-radius: 0.2rem;
  }

  &__buy-ticket-icon {
    width: 1.7rem;
  }
}

@media screen and (max-width: 1400px) {
  .movie-detail-section {
    &__main-slider {
      width: 45%;
      column-gap: 13rem;
    }

    &__img {
      width: 23rem;
      height: 33rem;
    }

    &__prev-button,
    &__next-button {
      width: 2.5rem;
      height: 2.5rem;
    }

    &__prev-icon,
    &__next-icon {
      width: 2.7rem;
    }

    &__infos {
      width: 45%;
    }

    &__text {
      padding: 2.3rem 5rem 0 3rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .movie-detail-section {
    &__back-button {
      width: 2rem;
    }

    &__headline-container {
      margin-top: 3rem;
      padding: 0 10% 0 25%;
      flex-direction: column;
      align-items: start;
      row-gap: 1rem;
    }

    &__headline {
      font-size: 1.5rem;
    }

    &__category,
    &__hall {
      padding: 0.1rem 0.3rem;
      font-size: 0.9rem;
    }

    &__main-infos {
      flex-direction: column;
      row-gap: 1rem;
    }

    &__main-slider {
      width: 50%;
    }

    &__infos {
      width: 33rem;
      max-width: 90%;
      margin: 0 auto;
    }

    &__text {
      min-width: 10rem;
      margin: 0 1rem;
      padding: 0;
      font-size: 1rem;
    }

    &__buy-ticket-button {
      width: 11rem;
      height: 2.5rem;
      margin: 0 1rem;
      font-size: 1rem;
    }

    &__buy-ticket-icon {
      width: 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .movie-detail-section {
    &__back-button {
      width: 1.7rem;
    }

    &__headline {
      font-size: 1.3rem;
    }

    &__category,
    &__hall {
      padding: 0.1rem 0.3rem;
      font-size: 0.8rem;
    }

    &__main-infos {
      flex-direction: column;
      row-gap: 1rem;
    }

    &__main-slider {
      padding: 5rem 0;
      column-gap: 6rem;
    }

    &__img {
      width: 10rem;
      height: 20rem;
    }

    &__prev-button,
    &__next-button {
      width: 2rem;
      height: 2rem;
    }

    &__prev-icon,
    &__next-icon {
      width: 2.3rem;
    }

    &__infos {
      max-width: 90%;
      margin: 0 auto;
    }

    &__text {
      font-size: 0.9rem;
    }

    &__buy-ticket-button {
      width: 11rem;
      height: 2.4rem;
      font-size: 15px;
    }

    &__buy-ticket-icon {
      width: 1.4rem;
    }
  }
}
