@use "../variables" as x;

.about-us-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../assets/Snackbar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;

  &__headline {
    margin: 3rem auto;
    text-align: center;
    font-family: x.$cinestar-focus-font-art;
    font-size: 2.3rem;
    color: x.$cinestar-secondary-color;
  }

  &__infos {
    width: 50%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
  }

  &__img-and-text {
    display: flex;
  }

  &__img-collection {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  &__imgs {
    width: 20rem;
    display: flex;
    gap: 0.5rem;
  }

  &__img {
    object-fit: cover;
    border-radius: 0.2rem;
  }

  .landscap {
    width: 50%;
    height: auto;
    margin: 3rem auto 1rem auto;
  }

  .portrait {
    width: 12rem;
  }

  &__text {
    width: 50%;
    color: x.$cinestar-gray-color2;
  }

  &__offers-button {
    width: 9rem;
    margin-top: 1rem;
    font-size: 14.5px;
    column-gap: 0.5rem;
  }

  &__movie-icon {
    width: 1.5rem;
  }
}
