@use "../variables" as x;

.booking-movie-section {
  &__back-button {
    width: 2.3rem;
    margin: 3rem 0 0 5%;
    background-color: x.$cinestar-primary-color;
    border: none;
  }

  &__headline {
    margin: 3rem 0;
    font-family: x.$cinestar-focus-font-art;
    font-size: 2.3rem;
    text-align: center;
    color: x.$cinestar-gray-color;
  }

  &__generally-info-headline {
    color: x.$cinestar-gray-color;
  }

  &__booking-form {
    width: 50%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__generally-info {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__title,
  &__hall {
    padding: 1rem 5rem;
    font-size: 1.1rem;
    background-color: x.$cinestar-gray-color;
    border-radius: 0.3rem;
  }

  &__snacks-and-drinks {
  }

  &__snacks-and-drinks-headline {
    margin-top: 3rem;
    color: x.$cinestar-gray-color;
  }

  &__snacks-and-drinks-note {
    margin: 1.5rem auto;
    font-size: 1.1rem;
    color: x.$cinestar-gray-color;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__snack-icon,
  &__drink-icon {
    width: 2.1rem;
  }

  &__choose-snack-and-drink {
  }

  &__abo-snack-package {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 1.5rem;
  }

  &__snack-cart {
    padding: 1rem 1.5rem;
    color: x.$cinestar-gray-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    border: 1px solid x.$cinestar-gray-color2;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 3px #888;
    transition: all 0.3s ease-in-out;
  }

  &__snack-cart:hover {
    box-shadow: 1px 1px 5px 5px #888;
  }

  &__main-description {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__price {
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__img-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5rem;
  }

  &__snack-img,
  &__drink-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 0.2rem;
  }

  &__border {
    width: 100%;
    margin: 1.5rem 0;
    border: 1px solid #555;
    border-top-width: 1px;
    border-left-width: none;
    border-right-width: none;
    border-bottom-width: none;
  }

  &__single-snacks {
    padding: 3rem 0;
    color: x.$cinestar-gray-color2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3rem;
    border: 1px solid x.$cinestar-gray-color2;
    border-radius: 0.2rem;
  }

  /*&__snacks,
  &__drinks {
    
    display: flex;
  }*/

  &__payment {
    margin: 5rem auto 3rem auto;
    color: x.$cinestar-gray-color2;
  }

  &__payment-headline {
    margin: 3rem 0;
  }

  &__payments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
  }

  &__booking-overview {
    margin: 10rem auto;
    color: white;
    border: 1px solid white;
  }

  &__headlines {
    text-align: center;
  }

  &__headlines,
  &__infos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  &__overview-headline {
    padding: 0.7rem 0;
    font-size: 18px;
    border: 1px solid white;
  }

  &__info,
  &__seats,
  &__snacks-and-drinks-overview,
  &__info-payment,
  &__calculate {
    padding: 0.7rem 0;
    display: flex;
    justify-content: center;
    border: 1px solid white;
  }

  &__info {
    font-size: 1rem;
  }

  &__seats {
  }

  &__seat-info {
    width: 75%;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.1rem;
  }

  &__seat {
    display: flex;
    flex-direction: column;
    column-gap: 0.3rem;
  }

  &__snacks-and-drinks-overview {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__snack-package {
    display: flex;
    flex-direction: column;
  }

  &__snack-packages-overview,
  &__snack-package-overview {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__single-snacks-overview,
  &__single-snack-overview {
    margin: 0.7rem 0;
    display: flex;
    flex-direction: column;
  }

  &__snack-packages-headline,
  &__single-snacks-headline,
  &__snack-package-headline,
  &__single-snack-headline {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__detail {
    width: 75%;
    margin: 0 auto;
  }

  &__snack-package,
  &__single-snack {
    margin: 0.5rem auto;
  }

  &__buy-ticket-button {
    width: 10rem;
    margin: 5rem auto;
    font-size: 17px;
    @include x.center-content();
    column-gap: 0.5rem;
  }

  &__buy-ticket-icon {
    width: 1.5rem;
  }
}
