@use "../variables" as x;

.control-quantity {
  margin-top: 1rem;
  color: x.$cinestar-gray-color2;
  @include x.center-content();
  column-gap: 0.5rem;

  &__minus-button,
  &__plus-button {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    @include x.center-content();
    border-radius: 0.2rem;
  }

  &__quantitiy {
    font-size: 1.2rem;
  }
}

.disable {
  color: x.$cinestar-gray-color;
}
