@use "../variables" as x;

.finish-booking {
  &__text {
    margin: 10rem auto 3rem auto;
    text-align: center;
    font-size: 1.4rem;
    color: x.$cinestar-gray-color2;
  }

  &__back-link {
    margin: 0 45%;
    font-size: 1.2rem;
    @include x.center-content();
    column-gap: 0.5rem;
    color: x.$cinestar-gray-color2;
  }

  &__back-link:hover {
    color: x.$cinestar-gray-color;
  }

  &__back-icon {
    width: 1.7rem;
  }
}
