@use "../variables.scss" as x;

.footer {
  height: 3rem;
  @include x.center-content();
  column-gap: 5rem;
  background-color: #333;

  &__imprint,
  &__data-protection,
  &__copy-right,
  &__border {
    color: x.$cinestar-gray-color;
  }
}
