@use "../variables" as x;

.single-seat {
  position: relative;
  @include x.center-column-content();
  row-gap: 0.5rem;
}

.single-seat-img {
  width: 1.7rem;
  transform: rotateZ(180deg);
}

.user-img {
  position: absolute;
  top: -1rem;
  width: 1.7rem;
}

.no-button-style {
  border: none;
  background-color: x.$cinestar-gray-color;
}

.block:hover {
  cursor: not-allowed;
}

.block-seat {
  position: absolute;
  top: 0;
  width: 1.7rem;
}
