@use "../../variables" as x;

.oppening-time-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/red-cinema-canvas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  padding-top: 7rem;

  &__headline {
    text-align: center;
    font-family: x.$cinestar-focus-font-art;
    font-size: 2.3rem;
    color: x.$cinestar-secondary-color;
  }

  &__table {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
  }

  &__days,
  &__times {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__day,
  &__time {
    font-size: 1.5rem;
    color: x.$cinestar-gray-color2;
  }
}

@media screen and (max-width: 1000px) {
  .oppening-time-section {
    &__headline {
      font-size: 2rem;
    }

    &__day,
    &__time {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .oppening-time-section {
    &__headline {
      font-size: 1.7rem;
    }

    &__day,
    &__time {
      font-size: 1rem;
    }
  }
}
